@import "tailwindcss";

@theme {
  --color-gold: #c8a96e;
  --color-sport: #8b1a2f;
  --color-dark: #141210;
  --color-dark-soft: #1e1a16;
  --color-dark-sport: #100e0e;
  --color-muted: #7a7570;
  --color-light: #f0ece4;

  --font-sans: var(--font-barlow);
  --font-serif: var(--font-cormorant);
  --font-condensed: var(--font-barlow-condensed);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans);
}